*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif ;
}

header{
    padding-left: 30px;
    background-color: #159615;
    height: 60px;
    width: 100%;
}

header > h2{ 
    color: aliceblue;
    font-size: 30px; 
}

.content{
    background-color: blue;
    width: 980px;
    height: 565px;
}
