*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif ;
}

header{
    padding-left: 30px;
    background-color: #159615;
    height: 60px;
    width: 100%;
}

header > h2{ 
    color: aliceblue;
    font-size: 30px; 
}

.content{
    padding-left: 20px;
}

.box{
    padding-top: 10px;
    padding-left: 10px;
    width: 25px;
}

.butSum{
    padding: 10px;
    border: #159615;
}